<template>
  <Loader v-if="!loaded" />
  <b-card v-else>
    <b-btn variant="primary" size="sm">Overview</b-btn>
    <b-list-group class="mt-2">
      <b-row>
        <b-col>
          <b-list-group-item>Balance: {{roubleFormatter(account.money)}}</b-list-group-item>
          <b-list-group-item>On sale: {{roubleFormatter(account.summOnSale)}}</b-list-group-item>
          <b-list-group-item>On transfer: {{roubleFormatter(account.summOnTransfer)}}</b-list-group-item>
          <b-list-group-item>Used: {{roubleFormatter(account.summOnSale + account.summOnTransfer)}}</b-list-group-item>
        </b-col>
        <b-col>
          <b-list-group-item>Discount: {{account.discount.toFixed(2)}}%</b-list-group-item>
          <b-list-group-item>Commission: {{account.commission.toFixed(2)}}%</b-list-group-item>
          <b-list-group-item>Turnover: {{roubleFormatter(account.turnover)}}</b-list-group-item>
          <b-list-group-item>Estimated bank: {{roubleFormatter(account.money + account.summOnSale + account.summOnTransfer)}}</b-list-group-item>
        </b-col>
      </b-row>
    </b-list-group>

    <b-list-group horizontal class="my-2">
      <b-list-group-item>
        <div
          :class="[borderedItemBottom, `border-${trendColor(items)}`]"
        >Trend: {{`${items.negTrend}/${items.posTrend}`}}</div>
      </b-list-group-item>

      <b-list-group-item>
        <div
          :class="[borderedItemBottom, `border-${priceColor(items)}`]"
        >Best prices: {{items.bestPrice}}</div>
      </b-list-group-item>

      <b-list-group-item>
        <div
          :class="[borderedItemBottom, `border-${orderColor(items)}`]"
        >Best orders: {{items.bestOrder}}</div>
      </b-list-group-item>

      <b-list-group-item>
        <div :class="[borderedItemBottom, `border-${timeColor(time)}`]">Last update: {{timeMessage}}</div>
      </b-list-group-item>
    </b-list-group>

    <b-btn v-b-toggle.history variant="primary" size="sm">History</b-btn>
    <b-list-group-item class="mt-2 text-right">
      <b-row>
        <b-col class="border-dark" :class="borderedItemTopRight">Buy:</b-col>
        <b-col class="border-dark" :class="borderedItemTopRight">Sell:</b-col>
        <b-col class="border-success" :class="borderedItemTopRight">Profit:</b-col>
        <b-col class="border-danger" :class="borderedItemTopRight">Loss:</b-col>
        <b-col class="border-dark" :class="borderedItemTopRight">Summary:</b-col>
      </b-row>
    </b-list-group-item>

    <b-list-group-item class="text-right">
      <b-row v-for="(deal, index) in history.buy" :key="index">
        <b-col>{{roubleFormatter(history.buy[index])}}</b-col>
        <b-col>{{roubleFormatter(history.sell[index])}}</b-col>
        <b-col
          :class="['border-success', index === history.buy.length - 1 && borderedItemBottom]"
        >{{roubleFormatter(history.profit[index])}}</b-col>
        <b-col
          :class="['border-danger', index === history.buy.length - 1 && borderedItemBottom]"
        >{{roubleFormatter(history.loss[index])}}</b-col>
        <b-col>{{roubleFormatter(history.profit[index] + history.loss[index])}}</b-col>
      </b-row>
    </b-list-group-item>

    <b-list-group-item
      class="text-left"
    >Summary from start of {{dayFromTimestamp(history.startHistory)}}</b-list-group-item>

    <b-list-group-item class="text-right">
      <b-row>
        <b-col
          v-for="(deal, value, index) in history.all"
          :key="index"
          :class="[borderedItemBottomLeft, {
              'border-dark': [0,1,4].includes(index),
              'border-success': 2 === index,
              'border-danger': 3 === index,
            }]"
        >{{roubleFormatter(deal)}}</b-col>
      </b-row>
    </b-list-group-item>
  </b-card>
</template>

<script>
import { bots } from "@/assets/config.json";
import Loader from "./Loader.vue";

export default {
  name: "Bot",
  props: ["botid"],
  components: {
    Loader
  },
  data: () => ({
    loaded: false,
    account: {},
    history: {},
    items: {},
    bots,
    borderedItemTopRight: "bordered-item rounded border-top border-right",
    borderedItemBottomLeft: "bordered-item rounded border-bottom border-left",
    borderedItemBottom: "bordered-item rounded border-bottom"
  }),
  computed: {
    time: function() {
      return Math.round(Date.now() / 1000) - this.account.lastUpdate;
    },
    timeMessage: function() {
      const time = this.time;
      if (time > 1) return `${time} seconds ago`;
      return "just now";
    }
  },
  methods: {
    trendColor({ posTrend, negTrend }) {
      if (posTrend / negTrend > 55 / 45) return "success";
      if (posTrend / negTrend < 35 / 65) return "danger";
      return "warning";
    },
    priceColor({ bestPrice }) {
      if (bestPrice >= 10) return "success";
      if (bestPrice > 3) return "warning";
      return "danger";
    },
    orderColor({ bestOrder }) {
      if (bestOrder >= 20) return "success";
      if (bestOrder > 10) return "warning";
      return "danger";
    },
    timeColor(time) {
      if (time < 5) return "success";
      if (time < 30) return "warning";
      return "danger";
    },
    getData(botid) {
      fetch(`http://${this.bots[botid]}/api/data`).then(async res => {
        const json = await res.json();
        if (json.success) {
          this.getAccount(json.data.account);
          this.getItems(json.data.items);
          this.getHistory(json.data.history);
          this.loaded = true;
        }
      });
    },
    getAccount(data) {
      this.account = data;
    },
    getItems(data) {
      const items = { posTrend: 0, negTrend: 0, bestPrice: 0, bestOrder: 0 };
      Object.values(data).forEach(value => {
        if (value.trend >= 0) items.posTrend += 1;
        else items.negTrend += 1;
        if (value.priceState.bestPrice === value.priceState.myPrice)
          items.bestPrice += 1;
        if (value.orderState.bestOrder === value.orderState.myOrder)
          items.bestOrder += 1;
      });
      this.items = items;
    },
    getHistory(data) {
      const countDays = this.daysFromEarliestItem(data.earliestItem);
      const days = this.daysStart(countDays);
      const startHistory = days[days.length - 1];
      const buy = this.arrayLength(countDays);
      const sell = this.arrayLength(countDays);
      const profit = this.arrayLength(countDays);
      const loss = this.arrayLength(countDays);
      const all = { buy: 0, sell: 0, profit: 0, loss: 0, summary: 0 };
      Object.values(data.pollData).forEach(history => {
        const purchasedArr = history.purchased;
        const soldArr = history.sold;
        purchasedArr.forEach(arr => {
          const index = days.findIndex(day => day < arr.time);
          if (index > -1) {
            buy[index] += arr.price;
            all.buy += arr.price;
          }
        });
        soldArr.forEach((arr, i) => {
          const index = days.findIndex(day => day < arr.time);
          if (index > -1) {
            if (purchasedArr.length >= soldArr.length) {
              const profitItem = arr.price - purchasedArr[i].price;
              if (profitItem > -1) {
                profit[index] += profitItem;
                all.profit += profitItem;
              } else {
                loss[index] += profitItem;
                all.loss += profitItem;
              }
            }
            sell[index] += arr.price;
            all.sell += arr.price;
          }
        });
      });
      all.summary = all.profit + all.loss;
      this.history = { buy, sell, profit, loss, all, startHistory };
    },
    roubleFormatter(amount) {
      if (amount < 100000 && amount > -100000)
        return `${(amount / 100).toFixed(2)}₽`;
      const money = amount.toString().split("");
      for (let i = money.length - 5; i > 0; i -= 3) {
        money.splice(i, 0, ",");
      }
      money.splice(-2, 0, ".");
      return `${money.join("")}₽`;
    },
    daysFromEarliestItem(timestamp) {
      const count = Math.floor((new Date() / 1000 - timestamp) / 60 / 60 / 24);
      return count || 1;
    },
    daysStart(N) {
      return new Array(N)
        .fill()
        .map((day, i) => Math.round(new Date().setHours(-24 * i, 0, 0) / 1000));
    },
    dayFromTimestamp(timestamp) {
      const fullDate = new Date(timestamp * 1000);
      const year = fullDate.getFullYear();
      const month = fullDate.toLocaleString("en-us", { month: "short" });
      const day = fullDate.getDate();
      return `${day} ${month} ${year}`;
    },
    arrayLength(N) {
      return new Array(N).fill(0);
    }
  },
  beforeRouteUpdate(to, from, next) {
    this.getData(to.params.botid);
    next();
  },
  created() {
    this.getData(this.botid);
  }
};
</script>

<style scoped>
.bordered-item {
  border-width: 2px !important;
}
.list-group-horizontal {
  flex-direction: row !important;
}
</style>
