<template>
  <div class="d-flex justify-content-center mt-5">
    <b-spinner label="Loading..."></b-spinner>
  </div>
</template>

<script>
export default {
  name: "Loader"
};
</script>

<style scoped>
</style>
