<template>
  <div id="app">
    <b-container>
      <b-nav tabs>
        <b-nav-item
          v-for="(bot, index) in bots"
          :key="index"
          :to="'/bot/' + index"
        >Bot: #{{ index }}</b-nav-item>
      </b-nav>
      <router-view />
    </b-container>
  </div>
</template>

<script>
import { bots } from "@/assets/config.json";

export default {
  name: "App",
  data: () => ({ bots })
};
</script>

<style>
</style>
